.bgcwhite {
    background-color: white;
}

.bgcpurple {
    background-color: purple;
}

.shadow {
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.1);
}

.mt10 {
    margin-top: 10px;
}

.m10 {
    margin: 10px;
}

.page {
    min-height: 600px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    overflow-y: scroll;

    background-color: #fff;

    @media (max-width: 1000px) {
        flex-flow: column;
        margin-right: 100px;
        padding-right: 80px;
    }
}

.col4 {
    width: 100%;
    min-width: 250px;
    max-width: 400px;

    padding: 10px;

    @media (max-width: 1000px) {
        max-width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        padding: 20px;
    }
}