.gifs {
    position: absolute;
    top: 50px;
    left: 0;

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;

    /* filter: blur(0px); */
    filter: brightness(60%);

    z-index: -1;

    @media (max-width: 800px) {
        top: 100px;
    }
}

.gifs img {
    width: 50%;
    height: 100vh;
}

.gif-group {
    display: flex;
    flex-flow: row wrap;

    width: 50%;
    height: 100vh;
}

.gif-group img {
    height: 50vh;
}